* {
  box-sizing: border-box;
}

:root {
  --primary-color: #57b846;
  --secondary-color: #50d8d7;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: #2c3e50;
  height: 100vh;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

main {
  position: relative;
  width: 600px;
  margin: auto;
  top: 60px;
}

/* ------------ */

.tabs {
  width: 100%;
  background-color: transparent;
  z-index: 99;
  border-bottom: 3px solid var(--primary-color);
  border-radius: 12px 12px 0 0;
  user-select: none;
}

.tabs ul {
  display: flex;
  width: fit-content;

  background-color: #fff;
  border-radius: 12px 12px 0 0;
}

.tabs .tab {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;

  padding: 8px 16px;
  background-color: #fff;
  cursor: pointer;

  transition: color 300ms ease-out, background-color 300ms ease-out,
    border-radius 300ms;
}

.tabs .tab:hover {
  background-color: #e3f0e2;
}

.tabs .tab.-active {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 12px 12px 0 0;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 32px 0;

  opacity: 0;
  visibility: hidden;

  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  border-radius: 0 0 8px 8px;

  transition: opacity 200ms ease-out;
}

.container.-active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.container form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 16px;
}

.inputs {
  position: relative;
  padding: 15px 0 0;
  margin-top: 16px;
  width: 80%;
}

.inputs:first-of-type {
  margin-top: 0;
}

.inputs input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #111;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.inputs input::placeholder {
  color: transparent;
}
.inputs input:placeholder-shown ~ label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.inputs label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
  user-select: none;
}

.inputs input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  border-image-slice: 1;
}

.inputs input:focus ~ label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 700;
}

.button {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  color: #fff;
  background: var(--primary-color);

  border: 0;
  border-radius: 16px;
  
  width: fit-content;
  margin: 0 auto;
  padding: 8px 16px;

  cursor: pointer;
  transition: background 200ms ease-out;
}

.button:hover {
  background: #4da13e;
}
